.dashboard-wrap {

  .ant-tabs-bar {
    margin: 0;

    .ant-tabs-nav-wrap {
      margin-bottom: -7px;
      overflow: hidden;

      .ant-tabs-nav-scroll {
        background-color: #f7f7f7;
      }
    }
  }

  .ant-tabs-top-content {
    margin-bottom: 30px;
  }


  .ant-tabs-ink-bar-animated {
    position: absolute;
    top: 0;
    left: 0;
    height: 6px;
    background-color: #3fb8f8;
  }

  .ant-tabs-tab-active {
    color: #3fb8f8;
    background-color: #ffffff;
  }

  .table-content {
    padding: 16px;
  }
}